.contact-form input, .contact-form textarea {
  padding: 12px;
  display: flex;
  font-size: 12px;
  transition: all 0.3s ease;
  border: 1px transparent solid;
}

.contact-form input::placeholder, .contact-form textarea::placeholder {
  color: #383838;
  font-size: 8px;
  transition: all 0.3s ease;
  
}

.contact-form input:focus, .contact-form textarea:focus {
  outline: none;
  border: 1px solid #cdcaca;
  padding: 12px;
  font-size: 12px;
}
.contact-form input:focus::placeholder, .contact-form textarea:focus::placeholder {
  font-size: 10px;
  width: auto;
  transform: translateY(-12px);
  position: absolute;
  transition: all 0.3s ease;
}

 @media screen and (min-width: 768px) {
    .contact-form input::placeholder, .contact-form textarea::placeholder { 
      font-size: 12px;
      
    }
  }